# General
.DS_Store
Thumbs.db

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/
coverage/

# Rust
target/

# Go
bin/
dist/
*.out

# IDE
.idea/
.vscode/
